<%- include('includes/head.ejs') %>
  </head>

  <body>
    <%- include('includes/navigation.ejs') %>
      <h1>Database Error</h1>
      <p>We are currently working to solve this error. Sorry for any inconvenience</p>

      <%- include('includes/end.ejs') %>